{# form-item-style-layout.html #}

<div class="card mb-3">
    <h2 class="card-header">{{ style.title }}</h2>
    <div class="card-body">
        <div class="col col-12">
            <div class="row">
                <div class="col">
                    <label for="" class="mr-3">Поля</label>
                    <div class="input-group mb-3 w-20 d-inline-flex">
                        <span class="input-group-text" id="basic-addon1">Верхнее</span>
                        <input type="text" class="form-control" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 w-25 d-inline-flex">
                        <span class="input-group-text" id="basic-addon1">Нижнее</span>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 w-20 d-inline-flex">
                        <span class="input-group-text" id="basic-addon1">Левое</span>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 w-20 d-inline-flex">
                        <span class="input-group-text" id="basic-addon1">Правое</span>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12">
            <div class="row g-0">
                <div class="col col-6 pr-1">
                    <div class="input-group mb-3 -w-40 -d-inline-flex">
                        <label class="input-group-text" for="inputGroupSelect01">Ориентация</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="input-group mb-3 -w-40 -d-inline-flex">
                        <label class="input-group-text" for="inputGroupSelect01">Номера страниц</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>