{# form-item-style-fill.html #}

<div class="card mb-3">
    <div class="card-header d-flex">
        <div class="input-group -mb-3 d-inline-flex">
            <label class="input-group-text" for="chbGroupSelect01">Оглавление</label>
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                id="chbGroupSelect01"
                aria-label="Checkbox for following text input">
            </div>
        </div>
        <div class="input-group -mb-3 d-inline-flex">
            <label class="input-group-text" for="chbGroupSelect02">Содержание</label>
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                id="chbGroupSelect02"
                aria-label="Checkbox for following text input">
            </div>
        </div>
    </div >
    <div class="card-body">
        <div class="col col-12">
            <div class="input-group mb-3 w-50 d-inline-flex">
                <label class="input-group-text" for="inputGroupSelect01">Заполнение</label>
                <select class="form-select" id="inputGroupSelect01">
                    <!-- <option selected>Choose...</option> -->
                    <option value="">no</option>
                    <option value="_">_</option>
                    <option value=".">.</option>
                </select>
            </div>
        </div>
    </div>
</div>