<div class="card mb-3">
    <h2 class="card-header">{{ style.title }}</h2>
    <div class="card-body">
        <div class="col col-12">
                    <div class="input-group mb-3 w-25 d-inline-flex">
                        <label class="input-group-text" for="inputGroupSelect01">Шрифт</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 w-25 d-inline-flex">
                        <label class="input-group-text" for="inputGroupSelect01">Размер</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <input class="-d-none ch1" type="checkbox" name="fonttype" id="ch_1">
                    <input class="-d-none ch2" type="checkbox" name="fonttype" id="ch_2">
                    <input class="-d-none ch3" type="checkbox" name="fonttype" id="ch_3">
                    <div class="btn-group -mx-3 align-top">
                        <label for="ch_1" class="ch1 btn btn-outline-secondary">
                            <b>Ж</b>
                        </label>
                        <label for="ch_2" class="ch2 btn btn-outline-secondary">
                            <i>К</i>
                        </label>
                        <label for="ch_3" class="ch3 btn btn-outline-secondary">
                            <u>Ч</u>
                        </label>
                    </div>
                    <input class="-d-none ch4" type="radio" name="fonttype" id="ch_4">
                    <input class="-d-none ch5" type="radio" name="fonttype" id="ch_5">
                    <input class="-d-none ch6" type="radio" name="fonttype" id="ch_6">
                    <input class="-d-none ch7" type="radio" name="fonttype" id="ch_7">
                    <div class="btn-group align-top">
                        <label for="ch_4" class="ch4 btn btn-outline-secondary">
                            <svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#text-left"></use></svg>
                            <span class="visually-hidden">Button</span>
                        </label>
                        <label for="ch_5" class="ch5 btn btn-outline-secondary">
                            <svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#text-center"></use></svg>
                            <span class="visually-hidden">Button</span>
                        </label>
                        <label for="ch_6" class="ch6 btn btn-outline-secondary">
                            <svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#text-right"></use></svg>
                            <span class="visually-hidden">Button</span>
                        </label>
                        <label for="ch_7" class="ch7 btn btn-outline-secondary">
                            <svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#justify"></use></svg>
                            <span class="visually-hidden">Button</span>
                        </label>
                    </div>
        </div>
        <div class="col col-12">
            <div class="row">
                <div class="col">
                    <label for="" class="mr-3">Интервалы</label>
                <!-- </div>
                <div class="col"> -->
                    <div class="input-group mb-3 w-25 d-inline-flex">
                        <span class="input-group-text" id="basic-addon1">Междустрочный</span>
                        <input type="text" class="form-control" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1">
                    </div>
        <!-- </div>
                <div class="col"> -->
                    <div class="input-group mb-3 w-25 d-inline-flex">
                        <span class="input-group-text" id="basic-addon1">Перед</span>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
        <!-- </div>
                <div class="col"> -->
                    <div class="input-group mb-3 w-25 d-inline-flex">
                        <span class="input-group-text" id="basic-addon1">После</span>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12">
            <div class="row">
                <div class="col col-1">
                    <label for="" class="mr-3">Отступы</label>
                </div>
                <div class="col">
            <div class="input-group mb-3 w-25 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">Слева</span>
                <input type="text" class="form-control" placeholder="Username"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-25 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">Справа</span>
                <input type="text" class="form-control" placeholder="Username"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-30 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">Первая строка</span>
                <input type="text" class="form-control" placeholder="Username"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div></div>
            </div>
        </div>
    </div>
</div>