{# form-item-style-imgs.html #}

<div class="card mb-3">
    <h2 class="card-header">{{ style.title }}</h2>
    <div class="card-body">
        <div class="col col-12">
                    <div class="input-group mb-3 w-25 d-inline-flex">
                        <label class="input-group-text" for="inputGroupSelect01">Шрифт</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 w-25 d-inline-flex">
                        <label class="input-group-text" for="inputGroupSelect01">Размер</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="btn-group -mx-3 align-top">
                        <button type="button" class="btn btn-outline-secondary">
                            <b>Ж</b>
                            <span class="visually-hidden">Button</span>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <i>К</i>
                            <span class="visually-hidden">Button</span>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <u>Ч</u>
                            <span class="visually-hidden">Button</span>
                        </button>
                    </div>
                    <div class="btn-group align-top">
                        <button type="button" class="btn btn-outline-secondary">
                            <svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#text-left"></use></svg>
                            <span class="visually-hidden">Button</span>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#text-center"></use></svg>
                            <span class="visually-hidden">Button</span>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#text-right"></use></svg>
                            <span class="visually-hidden">Button</span>
                        </button>
                        <button type="button" class="btn btn-light">
                            <svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#justify"></use></svg>
                            <span class="visually-hidden">Button</span>
                        </button>
                    </div>
        </div>
        <div class="col col-12">
            <div class="row">
                <div class="col"><label for="">Интервалы</label>
                <!-- </div>
                <div class="col"> -->
            <div class="input-group mb-3 w-25 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">Междустрочный</span>
                <input type="text" class="form-control" placeholder="Username"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
        <!-- </div>
                <div class="col"> -->
            <div class="input-group mb-3 w-25 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">Перед</span>
                <input type="text" class="form-control" placeholder="Username"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
        <!-- </div>
                <div class="col"> -->
            <div class="input-group mb-3 w-25 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">После</span>
                <input type="text" class="form-control" placeholder="Username"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div></div>
            </div>
        </div>
        <div class="col col-12">
            <div class="row">
                <div class="col col-1"><label for="">Отступы</label></div>
                <div class="col">
            <div class="input-group mb-3 w-25 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">Слева</span>
                <input type="text" class="form-control" placeholder="Username"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-25 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">Справа</span>
                <input type="text" class="form-control" placeholder="Username"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-30 d-inline-flex">
                <span class="input-group-text" id="basic-addon1">Первая строка</span>
                <input type="text" class="form-control" placeholder="Username"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div></div>
            </div>
        </div>
    </div>
</div>