
{% load tplext %}

{{ form.non_field_errors }}
{{ form.subject.as_field_group }}

{# Include the hidden fields #}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{% if form.errors %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-6">
            <div class="alert alert-danger">
                <strong>В форме есть ошибки</strong>
            </div>
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{field.label}}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    
{% for field in form.visible_fields %}
    <div class=" mb-3 col-6">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
</div>